* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    background-color: #fbdb7c;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}


/* Inicio diseño header */

.Nav {
    background-image: url(../imagenes/banners/banner.jpg);
    padding: 0;
}

.header {
    background-color: #fbdb7c;
    height: 35%;
    border-bottom: rgb(255, 255, 255) 1.5px outset;
}

#logoConeja{
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

}

.menuNav li {
    text-align: center;
           margin-left: 15px;
           margin-right: 15px;
}

.nosotrosBtn,
.contactoBtn,
.galeriaBtn,
.ubicacionBtn,
.menuBtn,
.tiendaBtn {
    transition: all 0.3s;
}

.nosotrosBtn:hover,
.contactoBtn:hover,
.galeriaBtn:hover,
.ubicacionBtn:hover,
.menuBtn:hover,
.tiendaBtn:hover {
    text-shadow: 1.5px 1.5px 2.5px rgba(0, 0, 0, 0.623);
    transform: scale(1.05);
}

.menuNav {
    background-color: #ffe494a8;
    list-style: none;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 0;
}

.logoMedio {
    width: 200px;
    transition: all 0.3s;
}

.logoMedio:hover {
    transform: scale(1.05);
}

/* Fin diseño Header */

/* Inicio diseño Footer */

footer {
    font-family: 'Lato', sans-serif;
    text-align: center;
    border-top: black 1.5px outset;
    background-color: #fbdb7c;
}

/* Fin diseño Footer */

/* Inicio diseño Index */

main {
    background-color: #ffe494b0;
}

#introContacto {
    font-family: 'Caveat', cursive;
    padding-top: 20px;
    text-align: center;
    border-bottom: rgb(255, 255, 255) 1.5px outset;
}

.intro {
    font-size: 36px;
}

.intro img {
    background-color: #fbdb7c;
    padding: 5px;
    max-width: 100%;
    max-height: 100%;
}

.carousel {
    display: flex;
    margin: 0 auto;
    max-width: 424px;
}

.contacto {
    padding: 50px;
}

#informacion {
    background-image: url("../imagenes/banners/banner1.jpg");
    font-family: 'Lato', sans-serif;
    height: 434px;
    padding-top: 5px;
}

.infoTotal {
    width: auto;
    display: grid;
    grid-column-gap: 10px;
    grid-template-areas:
        "mapa datos"
        "mapa redes";
    justify-content: center;
    align-items: center;

}

.infoMap {
    grid-area: mapa;
}

.infoDatos {
    grid-area: datos;
    padding-left: 10px;
}

.infoDatos li {
    padding: 5px;
}

.infoRedes {
    padding-left: 10px;
    grid-area: redes;
    display: flex;
    align-items: flex-end;
}

.infoRedes a {
    transition: all 0.2s;
}

.infoRedes a:hover {
    transform: scale(1.05);
}

/* Fin diseño Index */


/* Inicio diseño Nosotros */

#nosotros {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Caveat', cursive;
    background-color: #ffe494b0;
    height: 800px;
    padding: 40px;
    font-size: 35px;
}

.infoNos {
    max-height: 600px;
    max-width: 600px;
    padding: 0;
}

.imgNos {
    background-color: #fbdb7c;
    padding: 5px;
}

.imgNos img {
    max-width: 100%;
    max-height: 100%;
}

.infoNos h1 {
    text-align: center;
    padding-bottom: 20px;
}

/* Fin diseño Nosotros */


/* Inicio diseño Menu */

#menu {
    background-color: #ffe494b0;
    background-position: fixed;
}

#menu div {
    text-align: center;
    padding: 50px;
}

#menu img {
    padding: 20px;
}

/* Fin diseño Menu */

/* Inicio diseño Tienda */

html {
    height: 100vh;
}

.tienda {
    background: rgb(251,219,124);
    background: linear-gradient(0deg, rgba(251,219,124,1) 0%, rgba(255,255,255,1) 50%, rgba(251,219,124,1) 100%);
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tienda p {
    font-family: 'Lato', sans-serif;
    font-size: xx-large;
    text-align: center;
    line-height: 1;
    letter-spacing: 4px;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg, black, rgb(0, 0, 0), black);
    background-size: 70% 100%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    animation: shade 5s linear infinite;
  }
  
  @keyframes shade {
    0% {
      background-position-x: -500%;
    }
    100% {
      background-position-x: 500%;
    }
  }

/* Fin diseño Tienda */



/* Diseño Mobile */

@media screen and (max-width: 800px) {

    .infoTotal {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 100%;
    }

    .imgDecorado {
        display: none;
    }

    #menu {
        width: 100%;
    }

    #menu img {
        width: 90%;
    }

    #nosotros {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .infoNos {
        width: 100%;
    }

    #informacion {
        background-image: none;
        height: 100%;
    }
}


@media screen and (max-width: 480px) {

    /* Index Mobile */

    .logoMedio {
        width: 120px;
    }

    .Nav {
        margin-top: 20px;
        padding: 0;
    }

    .intro {
        font-size: x-large;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .intro p {
        padding-left: 35px;
        padding-right: 35px;
    }

    #informacion {
        background-image: none;
        height: 100%;
    }

    .infoTotal {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 100%;
    }

    .infoMap {
        width: 80%;
    }

    .header {
        background-image: none;
        background-color: #fbdb7c;
        height: 100%;
        width: 100%;
    }

    .menuNav {
        font-size: large;
    }

    /* Index Mobile */

    /* Menu Mobile */

    #menu {
        width: 100%;
    }

    #menu img {
        width: 90%;
    }

    /* Footer Mobile */

    footer {
        font-size: small;
    }

    /* Nosotros Mobile */

    #nosotros {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .infoNos {
        font-size: x-large;
        padding-bottom: 20px;
    }

    .infoNos p{
        width: 100%;
        text-align: center;
        padding: 0px;
    }

    .imgNos {
        width: 90%;
        background-color: #ffe494;
    }

    .imgNos img {
        width: 100%;
    }

    /* Tienda Mobile */

    .tienda img{
        width: 100%;
        height: 70%;
    }

    }