@import "./base/variables";
@import "./base/maps";
@import "./base/extends";
@import "./base/medida";
@import "./componentes/header";
@import "./componentes/main";
@import "./componentes/footer";
@import "./componentes/menu";
@import "./componentes/contacto";
@import "./componentes/redes";
@import "./componentes/nosotros";
@import "./componentes/tienda";



* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    background-color: $bg-color;
    background-image: $bg-image;
    background-attachment: $bg-atch;
    list-style: none;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}



