%display {
    display: flex;
    align-items: center;
    justify-items: center;
}

%itemTienda {
    text-align: center;
    border: none;
    background: none;
}

%imgTienda {
    box-shadow: $bx-shadow;
    border-radius: 10px;
}