.carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;

    .carritoContenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 80%;
        background-color: $bg-color-sec;
        box-shadow: $bx-shadow;
        border-radius: 15px;

        #btnVaciarCarrito {
            color: black;
            margin-top: 15px;
            margin-bottom: 10px;
            border-radius: 10px;
            width: 150%;
            height: 65%;
            box-shadow: $bx-shadow;
        }

        #btnVaciarCarrito {
            transition: all 0.03s;
        
            &:hover {
                transform: map-get($header, scale);
            }
        
            &:active{
                color: rgba(255, 255, 255, 0.733);
            }
          }

        h2 {
            padding-bottom: 30px;
        }

        #totalAPagar {
            padding-top: 20px;
            font-size: 25px;
        }

        .carritoLista {
            text-align: center;
            width: 70%;
            height: 65%;
            background-color: $bg-color;
            border: 1px solid black;

            #carritoListaContenedor {
                table-layout: fixed;
                width: 200px;
                text-align: center;
                background-color: $bg-color;
                margin-top: 5px;
                width: 100%;
                border-collapse: collapse;

                tr {
                    border-bottom: 1pt solid black;
                    padding: 20px;
                }
            }

            .totalCarrito {
                display: flex;

            }
        }
    }
}