.carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

    .carritoContenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 60%;
        background-color: $bg-color-sec;
        box-shadow: $bx-shadow;
        border-radius: 15px;

        #carritoLista {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            width: 90%;
            height: 80%;
            background-color: $bg-color;
            border-width: 1px;
            border-style: solid;
            border-color: black;
            padding: 0;

            p {
                text-align: center;
            }
        }
    }
}