.contacto {
    @extend %display;
    height: 120vh;
    background-image: $bg-image;
    background-color: $bg-color;
    background-attachment: $bg-atch;

    .container {
        font-family: $font;
        text-align: center;
        box-shadow: $bx-shadow;
        background-color: $bg-color-sec;
        width: 70%;

        .brand {
            padding-top: 20px;
        }

        .enviarBtn {
            padding-bottom: 20px;
        }

        button {
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 5px;
            transition: all 0.2s;

            &:hover {
                color: grey;
                transform: map-get($header, scale);
                border-color: grey;
            }
        }

        input,
        textarea {
            width: 80%;
        }

        p {
            font-size: x-large;
        }

    }
}

@media screen and (max-width: 480px) {

    .contacto {
        padding: 10px !important;

        .container {
            width: 100% !important;

            p {
                margin: 0;
                padding: 5px;

                #name,
                #email,
                #phone,
                #message {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {

    .contacto {
        padding: 10px !important;

        .container {
            width: 100% !important;

            p {
                margin: 0;
                padding: 5px;

                #name,
                #email,
                #phone,
                #message {
                    width: 100%;
                }
            }
        }
    }
}