.contacto {
    display: flex;
    align-items: center;
    padding: 50px;
    height: 80vh;
    background-image: $bg-image;
    background-color: $bg-color;
    background-attachment: $bg-atch;

    .container {
        font-family: 'Lato', sans-serif;
        text-align: center;
        box-shadow: $bx-shadow;
        background-color: $bg-color-sec;
        width: 50%;

        .brand {
            padding-top: 20px;
        }

        .enviarBtn {
            padding-bottom: 20px;
        }

        button {
            padding-left: 10px;
            padding-right: 10px;
        }

        input,
        textarea {
            width: 70%;
        }

        p {
            font-size: x-large;
        }

    }
}