footer {
    font-family: $font;
    text-align: center;
    border-top: rgba(0, 0, 0, 0.336) 1.5px outset;
    background-color: $bg-color-sec;

    p {
        margin: 0 !important;
    }
}

@media screen and (max-width: 480px) {
    footer {
        font-size: x-small;
    }
}