main {
    background-image: $bg-image;
    background-color: $bg-color;
    background-attachment: $bg-atch;

    #introContacto {
        font-family: $font;
        padding-top: 20px;
        text-align: center;
        border-bottom: rgb(255, 255, 255) 1.5px outset;

        .intro {
            font-size: 36px;

            img {
                background-color: $bg-color-sec;
                padding: 5px;
                max-width: 100%;
                max-height: 100%;
            }
        }

        .carouselCont {
            @extend %display;
            flex-direction: row;
            justify-content: space-evenly;
            height: 100%;
            padding-bottom: 100px;

            .carousel {
                max-width: 424px;

                .carousel-item {
                    background-color: $bg-color-sec;
                    padding: 5px;
                }
            }

            .eventoImg {
                box-shadow: $bx-shadow;
            }
        }
    }
}

@media screen and (max-width: 480px) {

    .carouselCont {
        flex-direction: column !important;
        padding-bottom: 50px !important;
        margin: 0 auto !important;
        width: 90%;

        .carousel {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

@media screen and (max-width: 800px) {

    .carouselCont {
        flex-direction: column !important;
        padding-bottom: 50px !important;
        margin: 0 auto !important;

        .carousel {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}