#menu {
    background-color: $bg-color;
    background-image: $bg-image;
    background-attachment: $bg-atch;

    div {
        text-align: center;
        padding: 50px;

        img {
            margin: 20px;
            box-shadow: $bx-shadow;
        }
    }
}

@media screen and (max-width: 480px) {

    #menu {
        width: 100%;

        img {
            width: 100%;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }
}

@media screen and (max-width: 800px) {

    #menu {
        width: 100%;

        img {
            width: 100%;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }
}