.tienda {
  color: black !important;
  font-size: 25px;
  font-family: $font2;
  padding: 50px;
  display: grid;
  justify-items: center;
  justify-content: space-evenly;
  grid-row-gap: 15px;
  grid-template-areas:
    "item1 item2 item3"
    "item4 item5 item6"
    "item7 item8 item9";

  .item1 {
    grid-area: item1;
    @extend %itemTienda;

    img {
      @extend %imgTienda
    }
  }

  .item2 {
    grid-area: item2;
    @extend %itemTienda;

    img {
      @extend %imgTienda
    }
  }

  .item3 {
    grid-area: item3;
    @extend %itemTienda;

    img {
      @extend %imgTienda
    }
  }

  .item4 {
    grid-area: item4;
    @extend %itemTienda;

    img {
      @extend %imgTienda
    }
  }

  .item5 {
    grid-area: item5;
    @extend %itemTienda;

    img {
      @extend %imgTienda
    }
  }

  .item6 {
    grid-area: item6;
    @extend %itemTienda;

    img {
      @extend %imgTienda
    }
  }

  .item7 {
    grid-area: item7;
    @extend %itemTienda;

    img {
      @extend %imgTienda
    }
  }

  .item8 {
    grid-area: item8;
    @extend %itemTienda;

    img {
      @extend %imgTienda
    }
  }

  .item9 {
    grid-area: item9;
    @extend %itemTienda;

    img {
      @extend %imgTienda
    }
  }

  .btnTienda {
    color: black;
    box-shadow: $bx-shadow;
    border-radius: 10px;
    background-color: $bg-color-sec;
    border: $bd-color;
  }

  .btnTienda {
    transition: all 0.03s;

    &:hover {
        text-shadow: 1.5px 1.5px 2.5px rgba(0, 0, 0, 0.623);
        transform: map-get($header, scale);
    }

    &:active{
        color: rgba(255, 255, 255, 0.733);
    }
  }
}


@media screen and (max-width: 480px) {
  .tienda {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 800px) {
  .tienda {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}